.homePageSection{
    width: 100vw;
    height: 100vh;
}
.posNavi{
    z-index: 5;
    width: 100vw;
    background: black;
}
.naviItems>li:hover{
    background-color: red;
}
.searchCustomer{
    background-color: #c8c8c8;
}
.btnRegister{
    right: 30%;
}
.btnViewAllCustomers{
    right: 0%;
}
.itemTableDiv{
    position: relative;
    height: 30vh;
    overflow: auto;
    background-color: white;
}
.customeTableDiv{
    position: relative;
    height: 30vh;
    overflow: auto;
    background-color: white;
}
.cartTbleDiv{
    position: relative;
    height: 20vh;
    overflow: auto;
}